<template name="About">

  <div class="panel panel-default">
    <div class="panel-body">

      <h2>O RECO</h2>
      <p>Reciclagem colaborativa e compartilhada, que conecta os catadores a voc&ecirc;!</p>
      <br>
      <p>O RECO &eacute; a mais nova frente de a&ccedil;&atilde;o do Pimp My Carro&ccedil;a,  que por meio de um app mobile e da web deixa sua conex&atilde;o com os catadores e seus servi&ccedil;os super facilitada! Com o RECO voc&ecirc; pode solicitar os servi&ccedil;os de um catador aut&ocirc;nomo da sua regi&atilde;o, entrando em contato diretamente com ele,  valorizando o que eles tem para ofertar como carroceiros e recicladores, e incentivando assim o auto empreendedorismo desses agentes ambientais aut&ocirc;nomos.</p>
      <br>
      <p>E tem mais: voc&ecirc; tamb&eacute;m pode cadastrar novos catadores que ainda n&atilde;o est&atilde;o no sistema, contribuindo assim para que mais agentes estejam nesse mapa, vis&iacute;veis &agrave; sociedade e ao nosso movimento.</p>
      <br>
      <p>Mais para frente, ainda poder&aacute; compartilhar nas redes sociais, avaliar os servi&ccedil;os, integrar com sua agenda e calcular a redu&ccedil;&atilde;o de impacto que voc&ecirc; deixou de causar.</p>
      <br><br>
      <p class="bold">Seja um pimpador, use o RECO e nos ajude a aprimorar essa rede com a sua participa&ccedil;&atilde;o!</p>
      <br><br><br>
      <p class="bold">Para usar &eacute; simples!</p>
        <ol>
          <li><p>Veja no mapa o catador mais pr&oacute;ximo de voc&ecirc; e acesse informa&ccedil;&otilde;es sobre ele como contato, local onde atua e tipo deservi&ccedil;os que ele oferta.</p></li>
          <li><p>Entre em contato com o catador e explique o tipo e a quantidade de material que voc&ecirc; possui.</p></li>
          <li><p>Combinem o dia, o hor&aacute;rio e o local de retirada de material.</p></li>
          <li><p>Aproveite o encontro e converse - se ele j&aacute; n&atilde;o tiver outra coleta!</p></li>
        </ol>
      <p>*Lembre-se: os catadores s&atilde;o trabalhadores aut&ocirc;nomos e podem cobrar pelo servi&ccedil;o, principalmente se o material n&atilde;o tiver valor de mercado. Por isso, &eacute; muito importante que voc&ecirc; seja sincero sobre a quantidade e tipo de material que possui. Leia mais sobre os materiais aqui (colocar o link da pagina)</p>
      <br>
      <p class="bold">Cadastro</p>
      <p>Tamb&eacute;m &eacute; poss&iacute;vel cadastrar novos catadores e ajudar a ampliar esse movimento! &Eacute; simples, &eacute; s&oacute; clicar na "aba" Cadastre um Catador e colocar os dados dos catadores que voc&ecirc; encontrou.</p>
        <ol>
          <li><p>RECOnhe&ccedil;a - preste aten&ccedil;&atilde;o nas regi&otilde;es onde voc&ecirc; costuma passar e encontre um catador, pe&ccedil;a licen&ccedil;a e bata um papo sobre a possibilidade de coloc&aacute;-lo nessa base online de dados.</p></li>
          <li><p>Dicas: Pergunte como &eacute; o dia a dia dele, que tipo de material ele coleta e quais outros servi&ccedil;os ele presta, a hist&oacute;ria de vida e reconhe&ccedil;a a import&acirc;ncia do trabalho dele.</p></li>
          <li><p>Identifique um ponto de refer&ecirc;ncia onde ele atua - bairro que atua, ruas que mais passa.</p></li>
          <li><p>RECOmende aos seus amigos fazerem o mesmo: conhecer os catadores da regi&atilde;o e fomentar a reciclagem.</p></li>
        </ol>
    </div>
  </div>
</template>
