<template name="About">

  <div class="panel panel-default">
    <div class="panel-body">

      <h2>PimpApp</h2>

      <p>O PimpApp é o aplicativo colaborativo do Pimp My Carroça para aproximar os catadores de de quem está precisando de seus serviços, como coleta de material reciclável, de residuos de construção civil, frete e carreto, entre outros.</p>
      <p>Para usar, é simples. Basta encontrar o catador mais próximo do seu local, entrar em contato, contar que tipo e a quantidade de material que você possui e combinar o dia e horário do serviço. Vale lembrar que os catadores são prestadores de serviço, por isso, podem cobrar a depender do material e quantidade que você possui.</p>
      <p>Para facilitar o correto descarte de resíduos, o aplicativo também disponibiliza o endereço de cooperativas e pontos de entrega. Cada ponto está diferenciado no mapa.</p>

      <br> TODO: Include pins etc. <br>
      (pin catador) Catador<br>
      (pin cooperativa) Cooperativa <br>
      (pin ponto de entrega) Ponto de Entrega <br>
    </div>
  </div>

</template>
