<template name="Adm">

  <div class="panel panel-default">
    <div class="panel-body">
      <h2>Aplica&ccedil;&atilde;o Administrativa do RECO</h2>
      <p>O RECO possui uma aplica&ccedil;&atilde;o para ser admiistrado, com as seguintes funcionalidades:</p>
        <ul>
          <li><p>Remo&ccedil;&atilde;o de Catador: Realiza a remo&ccedil;&atilde;o l&oacute;gica do catador, sem exclu&iacute;-lo do banco de dados</p></li>
          <li><p>Recupera&ccedil;&atilde;o de Catador: Recupera um catador removido anteriormente, voltando sua situa&ccedil;&atilde;o para pendente ('P').</p></li>
          <li><p>Modera&ccedil;&atilde;o de Catador: Permite definir como aprovada ('A'), rejeitada ('R') ou voltar para pendente ('P') a situa&ccedil;&atilde;o de um catador.</p></li>
        </ul>
      <p>Para executar uma determinada opera&ccedil;&atilde;o (remover, recuperar ou moderar) basta clicar no &iacute;cone ou bot&atilde;o de sele&ccedil;&atilde;o ao lado do catador. N&atilde;o ser&aacute; pedida confirma&ccedil;&atilde;o. Se desejar desfazer uma opera&ccedil;&atilde;o (remover, recuperar ou moderar) basta usar a funcionalidade oposta (recuperar ou remover) ou escolher outra op&ccedil;&atilde;o (moderar).</p>
      <p>As funcionalidades s&oacute; est&atilde;o dispon&iacute;veis para usu&aacute;rios do tipo Administrador ('A').</p>
    </div>
  </div>
</template>
