<template name="Collaborate">
  {{> Nav}}

  <div class="container-responsive">
    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-body">

          <h2>Colabore com o PimpAPP</h2>

          <p>PIMP MY CARROÇA é um movimento que luta para tirar os catadores de materiais recicláveis da invisibilidade, promover a sua auto estima e sensibilizar a sociedade para a causa em questão, com ações criativas que utilizam o graffiti para conscientizar, engajar e transformar. Conheça mais do nosso trabalho em: <a href="http://www.pimpmycarroca.com">www.pimpmycarroca.com</a>.</p>
          <p>O nosso movimento só chegou até aqui por causa das centenas de doadores que acreditam em nosso trabalho e passam a fazer parte! Conheça <a href="http://pimpmycarroca.com/sou-um-doador/">aqui</a> como continuar ajudando a manter esse aplicativo e todo o nosso trabalho!</p>
        </div>
      </div>
    </div>
  </div>
</template>
