<template name="Collaborate">

  <div class="panel panel-default">
    <div class="panel-body">

      <p>O Pimp My Carro&ccedil;a &eacute; um movimento que surgiu em 2012 e luta para tirar os catadores de materiais recicl&aacute;veis da invisibilidade, promover a sua auto estima e sensibilizar a sociedade, realizando a&ccedil;&otilde;es criativas que utilizam a arte do graffiti para conscientizar, engajar e transformar. <a class="underline" href="http://www.pimpmycarroca.com" target="_blank">www.pimpmycarroca.com</a>.</p>
      <p>A atua&ccedil;&atilde;o do movimento s&oacute; foi poss&iacute;vel com apoios e parcerias de pessoas que acreditam no nosso trabalho. Confira <a href="http://pimpmycarroca.com/sou-um-doador" target="_blank">aqui</a> (<a href="http://pimpmycarroca.com/sou-um-doador" target="_blank">http://pimpmycarroca.com/sou-um-doador</a>) como contribuir e nos ajudar a manter o funcionamento desse aplicativo, al&eacute;m de todo o nosso trabalho!</p>
    </div>
  </div>
  
</template>
