<template name="deleteCatador">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          {{#if currentUser}}
            {{> catadorListDel}}
          {{else}}
            {{> atForm}}  <!-- standard login form - need to be logged in -->
          {{/if}}
        </div> <!-- /panel-body -->
      </div> <!-- /panel -->
    </div>
  </div> <!-- /row -->
</template>

<template name="catadorListDel">
  <h2>Remo&ccedil;&atilde;o de Catadores</h2>
  <!-- functionality just allowed for admin users -->
  {{#if isUserAdm}}
    <label>Ordenar por</label>
    <select id="orderSelect">
      <option value="name" selected>Nome &uarr;</option> <!-- name ascending -->
      <option value="creationDate">Data de Cria&ccedil;&atilde;o &darr;</option> <!-- creation date descending -->
    </select>
    <ul class="delUndelMod">
      {{#each carroceiros}}
        {{> catadorItemDel}}
      {{/each}}
    </ul>
  {{else}}
    {{> flashMessages}}  <!-- messages for user during some seconds -->

  {{/if}}

</template>

<template name="catadorItemDel">
  <li class="delUndelMod">
    <button id="delete">&times;</button> <!-- X symbol - for deletion when clicked -->
    <span class="text"><strong><a href='/catadorprofile/{{id}}?adm=true'>{{name}}</a>
</strong> - Criado em {{prettifyDate created_on}}</span> <!-- creation date with standard format for human reading -->
  </li> 
</template>


