<head>
  <title>Reco</title>
  <meta name="description" content="O RecoApp &eacute; o aplicativo colaborativo do Pimp My Carro&ccedil;a para aproximar os catadores de de quem est&aacute; precisando de seus servi&ccedil;os, como coleta de material recicl&aacute;vel, de res&iacute;duos de constru&ccedil;&atilde;o civil, frete e carreto, entre outros.">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#333">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
  <link rel="manifest" href="webmanifest.json"/>
  <link rel="apple-touch-icon" href="img/icons/mipmap-mdpi/ic_launcher.png">
  <link rel="apple-touch-icon" sizes="48x48" href="img/icons/mipmap-mdpi/ic_launcher.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/icons/mipmap-hdpi/ic_launcher.png">
  <link rel="apple-touch-icon" sizes="96x96" href="img/icons/mipmap-xhdpi/ic_launcher.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/icons/mipmap-xxhdpi/ic_launcher.png">
  <link rel="apple-touch-icon" sizes="196x196" href="img/icons/mipmap-xxxhdpi/ic_launcher.png">
</head>

<template name="Home">
  <div class="image-container">
    <a class="home" href="/map">
      <img src="/img/home.jpg">
    </a>
  </div>
</template>
