<template name="Materials">

  <div class="panel panel-default">
    <div class="panel-body">

      <p>A lista de materiais recicl&aacute;veis coletados pelos catadores (ou que podem ser entregues nos pontos espec&iacute;ficos ou cooperativas) &eacute; diversa. S&atilde;o alguns os fatores que determinam essa varia&ccedil;&atilde;o: mercado, valor do material, peso, volume, entre outros.</p>
      <p>Voc&ecirc; sabia?</p>
        <ul>
          <li><p>vidro &eacute; um material 100% recicl&aacute;vel por&eacute;m, por conta do seu peso e baixo valor, muitos recicladores n&atilde;o compram e, portanto, alguns catadores n&atilde;o coletam porque n&atilde;o vendem. Mas, ele pode ser descartado em PEVs e cooperativas!</p></li>
          <li><p>Papel&atilde;o, em algumas cidades do Brasil, n&atilde;o possuem mercado de reciclagem, e &eacute; considerado rejeito!</p></li>
          <li><p>Isopor, apesar de ser um tipo de pl&aacute;stico, pelo seu volume e peso (j&aacute; imaginou guardar 1 tonelada de isopor?), n&atilde;o &eacute; coletado e n&atilde;o tem mercado. Quer ajudar? N&atilde;o compre esse tipo de material!</p></li>
          <li><p>Entulho e  m&oacute;veis velhos n&atilde;o s&atilde;o reciclados, mas podem ser levados pelos catadores para o descarte adequado.</p></li>
        </ul>
      <p>Por isso, &eacute; SUPER importante falar para o catador o que e quanto voc&ecirc; tem do material e combinar de forma exata o servi&ccedil;o.</p>
      <p>Se estiver na d&uacute;vida, sempre pergunte ao catador! Ele &eacute; a melhor refer&ecirc;ncia no assunto!</p>
    </div>
  </div>
</template>