<template name="Materials">
  {{> Nav}}

  <div class="container-responsive">
    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-body">

          <h2>Materiais Coletados</h2>
          <p>A lista de materiais recicláveis coletados pelos catadores e/ou que podem ser entregues nos pontos de entrega ou cooperativas varia muito. São muitos os fatores que determinam essa variação: mercado, valor do material, entre outros. Por isso a importância de sempre combinar direitinho o serviço, principalmente com o catador.</p>
          <p>Vale a pena, se estiver na dúvida, perguntar aqueles materiais que não reciclam.</p>
        </div>
      </div>
    </div>
  </div>
</template>