<template name="moderation">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          {{#if currentUser}}
            {{> moderationList}}
          {{else}}
            {{> atForm}}  <!-- standard login form - need to be logged in -->
          {{/if}}
        </div> <!-- /panel-body -->
      </div> <!-- /panel -->
    </div>
  </div> <!-- /row -->
</template>

<template name="moderationList">
  <h2>Modera&ccedil;&atilde;o de Catadores</h2>
  <!-- functionality just allowed for admin users -->
  {{#if isUserAdm}}
    <label>Ordenar por</label>
    <select id="orderSelect">
      <option value="name" selected>Nome &uarr;</option>  <!-- name ascending -->
      <option value="moderationDate">Data de Modera&ccedil;&atilde;o &darr;
</option> <!-- moderation date descending -->
    </select>
    &nbsp;&nbsp;
    <label>Filtrar por Situa&ccedil;&atilde;o</label>
    <select id="filterSelect">
      <option value="">Todas</option>
      <option value="P">Pendente</option>
      <option value="A">Aprovado</option>
      <option value="R">Rejeitado</option>
    </select>
    <br>
    <label>Legenda: P - Pendente; A - Aprovado; R - Rejeitado</label>
    <ul class="delUndelMod">
      {{#each carroceiros}}
        {{> moderationItem}}
      {{/each}}
    </ul>
  {{else}}
    {{> flashMessages}}  <!-- messages for user during some seconds -->
  {{/if}}

</template>

<template name="moderationItem">
  <!-- radio with P (Pending), A (Approved) and R (Rejected) options -->
  <li class="delUndelMod">
    <input id="{{_id}}_P" type="radio" name="{{_id}}" value="P" {{pending}}>P
    &nbsp;&nbsp;
    <input id="{{_id}}_A" type="radio" name="{{_id}}" value="A" {{approved}}>A
    &nbsp;&nbsp;
    <input id="{{_id}}_R" type="radio" name="{{_id}}" value="R" {{rejected}}>R
    <span class="text"><strong><a href='/catadorprofile/{{id}}?adm=true'> - {{name}}</a></strong> {{#if moderated_on}} - Moderado em {{prettifyDate moderated_on}}{{/if}}</span>  <!-- moderation date with standard format for human reading -->
  </li> 
</template>
