<template name="Nav">
  <div class="nav-container">
    <!-- Fernando 04/24/16 - I removed "navbar-default" class because it generated  a blank line between nav bar and main screen and its letters for nav items was opaque and in a color difficult to see -->
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid navbar-inner">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-pimp" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- TODO: reduce resolution of image -->
          <a class="navbar-brand" href="/map">
            <img src="/img/LogoRECO.png">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-pimp">
          <ul class="nav navbar-nav">
            <!-- <li><a href="/">Veja o mapa</a></li> -->
            <li><a href="/registercarroceiro">ADICIONAR</a></li>
            <li><a href="/about">RECO APP</a></li>
            <li><a href="/materials">MATERIAIS</a></li>
            <li><a href="/collaborate">COLABORE</a></li>
            <li><a href="/termsofuse">TERMOS DE USO</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>{{> accountButtons}}</li>
          </ul>          
        </div><!-- /.navbar-collapse -->
      </div><!-- / container-fluid -->
    </nav><!-- / navbar -->  
  </div>

</template>

<template name="accountButtons">
  {{#if currentUser}}
    {{> LogoutButton}}
  {{else}}
    {{> LoginButton}}
  {{/if}}
</template>

<template name="LoginButton">
  <a href="/login">CADASTRE-SE/ENTRE</a>
</template>

<template name="LogoutButton">
  <a href="/logout">SAIR</a>
</template>




