<template name="Partners">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>A constru&ccedil;&atilde;o do RECO s&oacute; &eacute; poss&iacute;vel com o apoio e parceria de pessoas e empresas que toparam o desafio.</p>
      <br>
      <p>Desenvolvimento:</p>
      <img class="partners-width" src="/img/katrine.png">Katrine Tjoelsen
      <br><br>
      <img class="partners-width" src="/img/vido.jpg">Lucas Vido - Participa das Empresas:
      <br><br>
      <ul>
        <li><a href="http://aeris22.com.br" target="_blank"><img class="partners-width" src="/img/aeris22_logo2.png" title="Aeris">Aeris</a></li>
        <br>
        <li><a href="http://www.pinewoods.com.br" target="_blank"><img class="partners-width" src="/img/pinewoods-letra-laranja3-branco-300px.png" title="Pinewoods">Pinewoods</a></li>
      </ul>
      <br>
      <img class="partners-width" src="/img/vinicius.png">Vin&iacute;cius Arcanjo
      <br><br>
      <a href="http://fernandobalm.xpg.com.br" target="_blank"><img class="partners-width" src="/img/fernando.jpg">Fernando Barreto de Almeida</a>
      <br><br>
      <p>Apoio:</p>
      <a href="http://www.locaweb.com.br" target="_blank"><img class="partners-height" src="/img/locaweb.png" title="LOCAWEB"></a>
      <br><br>
      <a href="http://www.projetovisionarios.com" target="_blank"><img class="partners-width" src="/img/visionarios.png" title="Vision&aacute;rios">Vision&aacute;rios</a>
      <br><br>
      <p>Quer ser nosso parceiro tamb&eacute;m? Entre em contato pelo e-mail: <a class="underline" href="mailto:reco@pimpmycarroca.com">reco@pimpmycarroca.com</a> e nos ajude a fortalecer essa miss&atilde;o.</p>
    </div>
  </div>
</template>