<template name="Partners">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>A constru&ccedil;&atilde;o do RECO s&oacute; &eacute; poss&iacute;vel com o apoio e parceria de pessoas e empresas que toparam o desafio.</p>
      <br><br>
      <p>Desenvolvimento:</p>
      <a href="" target="_blank"><img class="partners" src="/img/katrine.png">Katrine Tjoelsen</a> 
      <br><br>
      <a href="" target="_blank"><img class="partners" src="">Lucas Vido (propriet&aacute;rio da empresa de projetos, empreendimentos e servi&ccedil;os)</a>
      <br><br>
      <a href="" target="_blank"><img class="partners" src="/img/vinicius.png">Vin&iacute;cius Arcanjo</a>
      <br><br>
      <a href="http://fernandobalm.xpg.com.br/" target="_blank"><img class="partners" src="/img/fernando.jpg">Fernando Barreto de Almeida</a>
      <br><br>
      <p>Apoio:</p>
      <a href="http://www.locaweb.com.br" target="_blank"><img class="partners" src="/img/locaweb.png" title="LOCAWEB"></a>
      <br><br>
      <a href="http://www.projetovisionarios.com" target="_blank"><img          src="/img/visionarios.png" title="Vision&aacute;rios">Vision&aacute;rios</a>
      <br><br>
      <p>Quer ser nosso parceiro tamb&eacute;m? Entre em contato pelo e-mail: <a class="underline" href="mailto:reco@pimpmycarroca.com">reco@pimpmycarroca.com</a> e nos ajude a fortalecer essa miss&atilde;o.</p>
    </div>
  </div>
</template>