<template name="catadorprofile">

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">

          {{#if currentUser}}

            {{#if Template.subscriptionsReady}}
              {{> catadorDetails}}
            {{else}}
              {{> loadingcatadorprofile}}
            {{/if}}

          {{else}}
            {{> atForm}}
          {{/if}}

        </div> <!-- /panel-body -->
      </div> <!-- /panel -->
    </div>
  </div> <!-- /row -->

</template>


<!-- while subscriptions are loading, display this -->
<template name="loadingcatadorprofile">
  Carregando perfil do catador
</template>

<template name="catadorDetails">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="image-container">
        <!-- {{> imageView}} --> 
        <!-- PLACEHOLDER TO SEE WHAT IMAGE POSITIONING LOOKS LIKE NOW,
        Before getting pictures from catadores -->
        <a href="/img/pimp.png" target="_blank"><img class="img-circle avatar avatar-original" 
        style="-webkit-user-select:none; display:block; margin:auto;" 
        src="/img/pimp.png" alt=""></a>     
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <h1 class="only-bottom-margin text-center">{{name}}</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <hr>
      <span class="text-muted">Telefone 1: </span>{{telephone1}} {{operator_telephone1}}
      {{#if whatsapp1}}
        <i class="fa fa-whatsapp"></i>
      {{/if}}
      <br>
      <span class="text-muted">Telefone 2: </span>{{telephone2}} {{operator_telephone2}}<br>
      {{#if whatsapp2}}
        <i class="fa fa-whatsapp"></i>
      {{/if}}
      <br>
      <span class="text-muted">Endere&ccedil;o: </span>{{address}}<br>
      <span class="text-muted">Regi&atilde;o: </span>{{region}}<br>
      <span class="text-muted">Tem sua carro&ccedil;a pimpada? </span>{{carrocaPimpada}}<br>
      <span class="text-muted">Utiliza ve&iacute;culo motorizado? </span>{{motorizedVehicle}}<br>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr>
      <div class="profile-services">
        <!-- TODO: update images to correct icons -->
        <h4>Servi&ccedil;os</h4>
        {{#if services_recyclable}}
          <img src="/img/recyclables.png" alt="material recicl&aacute;vel" title="material recicl&aacute;vel">
        {{/if}}
        {{#if services_construction}}
          <img src="/img/paint.png" alt="res&iacute;duo de constru&ccedil;&atilde;o civil" title="res&iacute;duo de constru&ccedil;&atilde;o civil">
        {{/if}}
        {{#if services_freight}}
          <img src="/img/recyclables.png" alt="frete e carreto" title="frete e carreto">
        {{/if}}
        {{#if services_furniture}}
          <img src="/img/recyclables.png" alt="res&iacute;duos volumosos" title="res&iacute;duos volumosos">
        {{/if}}
        {{#if services_metals}}
          <img src="/img/metals.png" alt="ferro e metais" title="ferro e metais">
        {{/if}}
        {{#if services_electronics}}
          <img src="/img/recyclables.png" alt="eletroeletr&ocirc;nicos" title="eletroeletr&ocirc;nicos">
        {{/if}}
        {{#if services_other_materials}}
          <img src="/img/trash.png" alt="outros materiais" title="outros materiais">
        {{/if}}

        <!-- Images are placeholders. TODO: use better icons in helper function services.
        Return images conditional on services offered by the catador. -->
        <!-- TODO: remove these images once Django API is updated to include service types-->
        <img src="/img/metals.png" alt="ferro e metais" title="ferro e metais">
        <img src="/img/trash.png" alt="outros materiais" title="outros materiais">

        <button class="btn btn-default pull-right profile-button-services">
          <i class="glyphicon glyphicon-info-sign"></i>
        </button>
        <hr>

      </div> <!-- /profile-services -->

      <span class="text-muted">Observa&ccedil;&otilde;es: </span>{{observations}}<br>

      <button class="btn btn-default pull-right profile-button-update">
        <i class="glyphicon glyphicon-pencil profile"></i> Atualizar Informa&ccedil;&otilde;es
      </button>

      <!-- If we think autoform is the way to go, then run:
      in terminal: meteor add yogiben:autoform-modals
      in collections.js, define CatadoresUpdate collection, then
      code here:
      {{> autoformModals}}
      {{#afModal class="btn btn-default pull-right profile-button-update" 
        collection="CatadoresUpdate" meteormethod="updateCatadorDetails" operation="insert"}}
        Atualizar
      {{/afModal}}       -->

    </div>
  </div> <!-- /row -->
</template>

<template name="imageView">
  {{#each images}}
    <div>
      <a href="{{this.url}}" target="_blank"><img class="img-circle avatar avatar-original" 
        style="-webkit-user-select:none; display:block; margin:auto;" 
        src="{{this.url}}" alt=""></a>        
    </div>
  {{/each}}
</template>



<template name="modalServices">
    <div class="modal fade modal-services-info">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Servi&ccedil;os</h4>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>

                <div class="modal-body">
                  <div class="row service-item">
                    <div class="col-md-2 col-xs-2">
                      <img src="/img/recyclables.png" alt="material recicl&aacute;vel" title="material recicl&aacute;vel">
                    </div>
                    <div class="col-md-10 col-xs-10">
                      Material recicl&aacute;vel (papel, vidro, latas, embalagens, vidro, embalagem longa vida, etc.)
                    </div>
                  </div>

                  <div class="row service-item">
                    <div class="col-md-2 col-xs-2">
                      <img src="/img/trash.png" alt="res&iacute;duo de constru&ccedil;&atilde;o civil" title="res&iacute;duo de constru&ccedil;&atilde;o civil">
                    </div>
                    <div class="col-md-10 col-xs-10">
                      Res&iacute;duos de constru&ccedil;&atilde;o civil (entulho, tintas, madeira, etc.)
                    </div>
                  </div>

                  <div class="row service-item">
                    <div class="col-md-2 col-xs-2">
                      <img src="/img/trash.png" alt="res&iacute;duos volumosos" title="res&iacute;duos volumosos">
                    </div>
                    <div class="col-md-10 col-xs-10">
                      Res&iacute;duos volumosos (sof&aacute;, geladeira, fog&atilde;o, etc.)
                    </div>
                  </div>

                  <div class="row service-item">
                    <div class="col-md-2 col-xs-2">
                      <img src="/img/metals.png" alt="ferro e metais" title="ferro e metais">
                    </div>
                    <div class="col-md-10 col-xs-10">
                      Ferro e metais (cobre, alum&iacute;nio, etc.)
                    </div>
                  </div>

                  <div class="row service-item">
                    <div class="col-md-2 col-xs-2">
                      <img src="/img/trash.png" alt="eletroeletr&ocirc;nicos" title="eletroeletr&ocirc;nicos">
                    </div>
                    <div class="col-md-10 col-xs-10">
                      Res&iacute;duos eletroeletr&ocirc;nicos (computadores, pilhas, baterias, etc.)
                    </div>
                  </div>                                    

                  <div class="row service-item">
                    <div class="col-md-2 col-xs-2">
                      <img src="/img/trash.png" alt="frete e carreto" title="frete e carreto">
                    </div>
                    <div class="col-md-10 col-xs-10">
                      Frete e carreto
                    </div>
                  </div>  

                  <div class="row service-item">
                    <div class="col-md-2 col-xs-2">
                      <img src="/img/trash.png" alt="outros materiais" title="outros materiais">
                    </div>
                    <div class="col-md-10 col-xs-10">
                      Outros materiais
                    </div>
                  </div>      

                  <div class="row service-comment">
                    N&atilde;o esque&ccedil;a de confirmar com o catador que ele coleta este tipo de material!
                  </div>
                </div> <!-- /modal-body -->

                <div class="modal-footer">                    
                </div>

            </div>
        </div>
    </div>
</template>

<template name="modalUpdateInfo">
  <div class="modal fade modal-services-info">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Qual informa&ccedil;&atilde;o voc&ecirc; quer atualizar ou corrigir?</h4>
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>

        <div class="modal-body">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" id="changeNameInfo" aria-label="...">
            </span>
            <span class="input-group-addon">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nome&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            {{#if changeName}}
              <input type="text" class="form-control" aria-label="...">
            {{/if}}
          </div><!-- /input-group -->
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" id="changeTelephone1Info" aria-label="...">
            </span>
            <span class="input-group-addon">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Telefone 1&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            {{#if changeTelephone1}}
              <input type="text" class="form-control" aria-label="...">
            {{/if}}
          </div><!-- /input-group -->
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" id="changeOperator1Info" aria-label="...">
            </span>
            <span class="input-group-addon">
              &nbsp;&nbsp;&nbsp;&nbsp;Operadora 1&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            {{#if changeOperator1}}
              <input type="text" class="form-control" aria-label="...">
            {{/if}}
          </div><!-- /input-group -->
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" id="changeWhatsapp1Info" aria-label="...">
            </span>
            <span class="input-group-addon">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Whatsapp 1?&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            {{#if changeWhatsapp1}}
              <input type="text" class="form-control" aria-label="...">
            {{/if}}
          </div><!-- /input-group -->
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" id="changeTelephone2Info" aria-label="...">
            </span>
            <span class="input-group-addon">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Telefone 2&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            {{#if changeTelephone2}}
              <input type="text" class="form-control" aria-label="...">
            {{/if}}
          </div><!-- /input-group -->
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" id="changeOperator2Info" aria-label="...">
            </span>
            <span class="input-group-addon">
              &nbsp;&nbsp;&nbsp;&nbsp;Operadora 2&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            {{#if changeOperator2}}
              <input type="text" class="form-control" aria-label="...">
            {{/if}}
          </div><!-- /input-group -->
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" id="changeWhatsapp2Info" aria-label="...">
            </span>
            <span class="input-group-addon">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Whatsapp 2?&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            {{#if changeWhatsapp2}}
              <input type="text" class="form-control" aria-label="...">
            {{/if}}
          </div><!-- /input-group -->
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" id="changeAddressInfo" aria-label="...">
            </span>
            <span class="input-group-addon">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Endere&ccedil;o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            {{#if changeAddress}}
              <input type="text" class="form-control" aria-label="...">
            {{/if}}
          </div><!-- /input-group -->
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" id="changeRegionInfo" aria-label="...">
            </span>
            <span class="input-group-addon">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Regi&atilde;o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            {{#if changeRegion}}
              <input type="text" class="form-control" aria-label="...">
            {{/if}}
          </div><!-- /input-group -->
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" id="changeCarrocaPimpadaInfo" aria-label="...">
            </span>
            <span class="input-group-addon">
              &nbsp;&nbsp;Carro&ccedil;a Pimpada?&nbsp;
            </span>
            {{#if changeCarrocaPimpada}}
              <input type="text" class="form-control" aria-label="...">
            {{/if}}
          </div><!-- /input-group -->
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" id="changeMotorizedVehicleInfo" aria-label="...">
            </span>
            <span class="input-group-addon">
              Ve&iacute;culo Motorizado?
            </span>
            {{#if changeMotorizedVehicle}}
              <input type="text" class="form-control" aria-label="...">
            {{/if}}
          </div><!-- /input-group -->
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" id="changeObservationsInfo" aria-label="...">
            </span>
            <span class="input-group-addon">
              &nbsp;&nbsp;&nbsp;Observa&ccedil;&otilde;es&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            {{#if changeObservations}}
              <input type="text" class="form-control" aria-label="...">
            {{/if}}
          </div><!-- /input-group -->

          <br>
          <button class="btn btn-default pull-right profile-button-update">
            <i class="glyphicon glyphicon-pencil profile"></i> Atualizar
          </button>
          <br>

        </div> <!-- /modal-body -->

        <div class="modal-footer">
        </div>

      </div>
    </div>
  </div>
</template>