<!-- TODO: Instead create separate profile pages for users,
So that it is possible to share a link to a user profile -->

<template name="catadorprofile">
  {{> Nav}}

  <div class="container-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4 text-center">
                  <div class="image-container">
                    {{> imageView}}
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-12">
                      <h1 class="only-bottom-margin catador-name">{{name}}</h1>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <span class="text-muted">Telefone 1: </span>{{telephone1}}<br>
                      <span class="text-muted">Telefone 2: </span>{{telephone2}}<br>
                    
                      <!-- <small class="text-muted">Created: 01.01.2015</small> -->
                    </div>
                    <div class="col-md-6">
<!--                       <div class="activity-mini">
                        <i class="glyphicon glyphicon-comment text-muted"></i> 500
                      </div>
                      <div class="activity-mini">
                        <i class="glyphicon glyphicon-thumbs-up text-muted"></i> 1500
                      </div> -->
                    </div>
                  </div>
                </div>
              </div> <!-- /row -->
              
              <div class="row">
                <div class="col-md-12">
                  <hr>
                  Region: 
                  <!-- <hr><button class="btn btn-default pull-right"><i class="glyphicon glyphicon-pencil"></i> Edit</button> -->
                </div>
              </div> <!-- /row -->

              <div class="row">
                <div class="col-md-12">
                  <hr>
                  Services: {{services}}
                  <!-- <hr><button class="btn btn-default pull-right"><i class="glyphicon glyphicon-pencil"></i> Edit</button> -->
                </div>
              </div> <!-- /row -->
            </div> <!-- /panel-body -->
          </div> <!-- /panel -->
        </div>
      </div> <!-- /row -->
 
    </div> <!-- /container-fluid -->
  </div> <!-- /container-responsive -->
</template>


<!-- while subscriptions are loading, display this -->
<template name="loadingcatadorprofile">
  Loading catador profile
</template>

<!-- <template name="PersonalDetails">
  <h3>{{name}}</h3> 
  
  Telefone 1: {{telephone1}}<br>
  Telefone 2: {{telephone2}}<br>
  WhatsApp? {{whatsapp}}
  
</template> -->

<!-- <template name="workDetails">
  <h4>Endereço</h4>
  {{address}}
  <h4>Utiliza veículo motorizado??</h4> 
  {{motorizedVehicle}}
  <h4>Serviços prestados</h4>
  {{services}}

</template> -->

<template name="imageView">
  {{#each images}}
    <div>
      <a href="{{this.url}}" target="_blank"><img class="img-circle avatar avatar-original" 
        style="-webkit-user-select:none; display:block; margin:auto;" 
        src="{{this.url}}" alt=""></a>        
    </div>
  {{/each}}
</template>