<!-- TODO: Instead create separate profile pages for users,
So that it is possible to share a link to a user profile -->

<template name="catadorprofile">
  {{> Nav}}

  <div class="content-container">
    <h2>Profile</h2>
    {{> CatadorDetails}}
    {{> imageView}}
  </div>
</template>

<!-- while subscriptions are loading, display this -->
<template name="loadingcatadorprofile">
  Loading catador profile
</template>

<template name="CatadorDetails">
  <h4>Nome</h4> 
  {{name}}
  <h4>Telefone</h4>
  {{telephone}}
  <h4>WhatsApp?</h4> 
  {{whatsapp}}
  <h4>Endereço</h4>
  {{address}}
  <h4>Utiliza veículo motorizado??</h4> 
  {{motorizedVehicle}}
  <h4>Serviços prestados</h4>
  {{services}}

</template>

<template name="imageView">
  <div class="carroceiroPicture">
    <h4>Photo</h4>
    {{#each images}}
      <div>
        <a href="{{this.url}}" target="_blank"><img src="{{this.url}}" alt=""></a>        
      </div>
    {{/each}}
  </div>
</template>