<!-- 
  Layout of page to register catadores, cooperativas, and ponto de entregas
 -->


<template name="Registercarroceiro">
  <div class="panel panel-default">
    <div class="panel-body">

      <h2>Cadastre um catador</h2>

      {{#if currentUser}}
        <p>Encontrou um catador e quer cadastr&aacute;-lo no RECO? &Oacute;timo! &Eacute; s&oacute; preencher o formul&aacute;rio a seguir com os dados dele.</p>
        <br>
        {{> addCarroceiroForm}}
      {{else}}
        {{> atForm}}
        <!-- <p>Sign in first.</p> -->
      {{/if}}
    </div>
  </div>

</template>


<!-- Form to register carroceiro -->
<template name="addCarroceiroForm">

  {{> catadorForm}}

<!-- TODO: include the code below once full support for cooperatives and ponto de entregas  -->
<!--   <ul class="nav nav-pills" id="carroceiro-form-selection">
    <li class="active"><a data-toggle="pill" href="#catador-form">Catador</a></li>
    <li><a data-toggle="pill" href="#cooperativa-form">Cooperativa</a></li>
    <li><a data-toggle="pill" href="#pev-form">Ponto de entrega</a></li>
  </ul>

  <div class="tab-content">
    <div id="catador-form" class="tab-pane fade in active">
      {{> catadorForm}}
    </div>
    <div id="cooperativa-form" class="tab-pane fade">
      {{> cooperativaForm}}
    </div>
    <div id="pev-form" class="tab-pane fade">
      {{> pevForm}}
    </div>

  </div> -->
</template>


<!-- Form to register catador -->
<template name="catadorForm">
  {{#autoForm doc=this id="insertCatadorForm" schema="CatadorProfileInsertSchema"
    type="method" meteormethod="submitCatadorRegistration"}}

  <fieldset>

    <label>Campos com * s&atilde;o obrigat&oacute;rios</label>

    {{> afQuickField name='name'}}
    {{> afQuickField name='miniBio' rows=5}}

    <div class="input-clear-both">
      <div class="input-float-left">
        {{> afQuickField name='telephone1'}}
      </div>
      <div class="input-float-left">
        {{> afQuickField name='operator_telephone1' firstOption='Operadora' options='allowed'}}
      </div>
      <div class="input-float-left">
        <div class="input-whatsapp-internet">
          {{> afQuickField name='whatsapp1'}}
        </div>
      </div>      
      <div class="input-float-left">
        <div class="input-whatsapp-internet">
          {{> afQuickField name='internet1'}}
        </div>
      </div>
    </div>

    <div class="input-clear-both">
      <div class="input-float-left">
        {{> afQuickField name='telephone2'}}
      </div>
      <div class="input-float-left">
        {{> afQuickField name='operator_telephone2' firstOption='Operadora' options='allowed'}}
      </div>
      <div class="input-float-left">
        <div class="input-whatsapp-internet">
          {{> afQuickField name='whatsapp2'}}
        </div>
      </div>
      <div class="input-float-left">
        <div class="input-whatsapp-internet">
          {{> afQuickField name='internet2'}}
        </div>
      </div>
    </div>

    <div class="input-clear-both">
      {{> afQuickField name='email' class="required email"}}
    </div>

    {{> afQuickField name='socialNetwork'}}
    {{> afQuickField id='complete_address' name='complete_address' type="googleplace"}}
    {{> afQuickField name='region'}}
    {{> afQuickField name='carrocaPimpada'}}
    {{> afQuickField name='motorizedVehicle'}}
    
    <label>Tipos de materiais que coleta</label>
    {{> afQuickField name="services_recyclable"}}
    {{> afQuickField name="services_glass"}}
    {{> afQuickField name="services_construction"}}
    {{> afQuickField name="services_volume"}}
    {{> afQuickField name="services_metals"}}
    {{> afQuickField name="services_electronics"}}
    {{> afQuickField name="services_freight"}}

    <div class="input-clear-both">
      <div class="input-float-left">
        {{> afQuickField id="services_other_materials" name='services_other_materials'}}
      </div>
      <div class="input-float-left">
        <!-- Start as disabeld because other materials is not checked -->
        {{> afQuickField disabled=true id="services_other_materials_description" name='services_other_materials_description' afFieldInput-placeholder="schemaLabel" label-class="sr-only"}}
      </div>
    </div>

    <div class="input-clear-both">
      {{> afQuickField name="observations"}}
    </div>

    {{> afQuickField name="full_photo"}}

  </fieldset>
  {{> flashMessages}}
  <button type="submit" class="btn btn-primary">Cadastrar Catador</button>
  {{/autoForm}}
</template>

<!-- Form to register cooperativa -->
<template name="cooperativaForm">
  {{#autoForm collection="Cooperativas" id="insertCooperativaForm" type="insert"}}
  <fieldset>
    <!-- <legend>Add a Cooperativa</legend> -->
    {{> afQuickField name='name'}}
    {{> afQuickField name='address' type="googleplace"}}
    {{> afQuickField name='telephone'}}
    {{> afQuickField name='hours'}}
    {{> afQuickField name='site'}}
    {{> afQuickField name='coleta'}}

    <label>Tipos de materiais que recebe</label>
    {{> afQuickField name='receive_paper'}}
    {{> afQuickField name='receive_glass'}}
    {{> afQuickField name='receive_metal'}}
    {{> afQuickField name='receive_plastic'}}
    {{> afQuickField name='receive_furniture'}}
    {{> afQuickField name='receive_electronics'}}
    {{> afQuickField name='receive_wood'}}
    {{> afQuickField name='receive_waste'}}
    {{> afQuickField name='receive_oil'}}
    {{> afQuickField name='receive_other'}}
  </fieldset>
  <button type="submit" class="btn btn-primary">Inserir</button>
  {{/autoForm}}  
</template>

<!-- Form to register ponto de entrega -->
<template name="pevForm">
  {{#autoForm collection="PontoDeEntregas" id="insertPevForm" type="insert"}}
  <fieldset>
    <!-- <legend>Add a ponto de entrega</legend> -->
    {{> afQuickField name='name'}}
    {{> afQuickField name='address' type="googleplace"}}
    {{> afQuickField name='hours'}}

    <label>Tipos de materiais que recebe</label>
    {{> afQuickField name='receive_paper'}}
    {{> afQuickField name='receive_glass'}}
    {{> afQuickField name='receive_metal'}}
    {{> afQuickField name='receive_plastic'}}
    {{> afQuickField name='receive_furniture'}}
    {{> afQuickField name='receive_electronics'}}
    {{> afQuickField name='receive_construction'}}
    {{> afQuickField name='receive_waste'}}
    {{> afQuickField name='receive_other'}}

  </fieldset>
  <button type="submit" class="btn btn-primary">Inserir</button>
  {{/autoForm}}    
</template>
