<!-- 
  Layout of page to register catadores, cooperativas, and ponto de entregas
 -->


<template name="Registercarroceiro">

  <div class="panel panel-default">
    <div class="panel-body">

      <h2>Cadastre um catador</h2>
      {{#if currentUser}}
        {{> addCarroceiroForm}}
      {{else}}
        {{> atForm}}
        <!-- <p>Sign in first.</p> -->
      {{/if}}
    </div>
  </div>

</template>


<!-- Form to register carroceiro -->
<template name="addCarroceiroForm">

  {{> catadorForm}}

<!-- TODO: include the code below once full support for cooperatives and ponto de entregas  -->
<!--   <ul class="nav nav-pills" id="carroceiro-form-selection">
    <li class="active"><a data-toggle="pill" href="#catador-form">Catador</a></li>
    <li><a data-toggle="pill" href="#cooperativa-form">Cooperativa</a></li>
    <li><a data-toggle="pill" href="#pev-form">Ponto de entrega</a></li>
  </ul>

  <div class="tab-content">
    <div id="catador-form" class="tab-pane fade in active">
      {{> catadorForm}}
    </div>
    <div id="cooperativa-form" class="tab-pane fade">
      {{> cooperativaForm}}
    </div>
    <div id="pev-form" class="tab-pane fade">
      {{> pevForm}}
    </div>

  </div> -->
</template>


<!-- Form to register catador -->
<template name="catadorForm">
  {{#autoForm collection="Catadores" id="insertCatadorForm" 
    type="method" meteormethod="submitCatadorRegistration"}}
  <fieldset>
    <!-- <legend>Cadastre um catador</legend> -->
    {{> afQuickField name='name'}}
    <div class="input-group-telephone">
      <div class="input-telephone">
        {{> afQuickField name='telephone1'}}
      </div>
      <div class="input-telephone">
        {{> afQuickField name='operator_telephone1' firstOption='Operador' options='allowed'}}
      </div>
      <div class="input-telephone">
        <div class="input-whatsapp">
          {{> afQuickField name='whatsapp1'}}
        </div>
      </div>      
    </div>

    <div class="input-group-telephone">
      <div class="input-telephone">
        {{> afQuickField name='telephone2'}}
      </div>
      <div class="input-telephone">
        {{> afQuickField name='operator_telephone2' firstOption='Operador' options='allowed'}}
      </div>
      <div class="input-telephone">
        <div class="input-whatsapp">
          {{> afQuickField name='whatsapp2'}}
        </div>
      </div>      
    </div>

    <div class="input-address">
      {{> afQuickField name='address' type="googleplace"}}
    </div>
    {{> afQuickField name='region'}}
    {{> afQuickField name='carrocaPimpada'}}
    {{> afQuickField name='motorizedVehicle'}}
    
    <label>Tipos de materiais que coleta</label>
    {{> afQuickField name="services_recyclable"}}
    {{> afQuickField name="services_construction"}}
    {{> afQuickField name="services_furniture"}}
    {{> afQuickField name="services_metals"}}
    {{> afQuickField name="services_electronics"}}
    {{> afQuickField name="services_other_materials"}}
    {{> afQuickField name="services_freight"}}

    {{> afQuickField name="observations"}}

    {{> afQuickField name="picture"}}

  </fieldset>
  <button type="submit" class="btn btn-primary">Insert</button>
  {{/autoForm}}
</template>

<!-- Form to register cooperativa -->
<template name="cooperativaForm">
  {{#autoForm collection="Cooperativas" id="insertCooperativaForm" type="insert"}}
  <fieldset>
    <!-- <legend>Add a Cooperativa</legend> -->
    {{> afQuickField name='name'}}
    {{> afQuickField name='address' type="googleplace"}}
    {{> afQuickField name='telephone'}}
    {{> afQuickField name='hours'}}
    {{> afQuickField name='site'}}
    {{> afQuickField name='coleta'}}

    <label>Tipos de materiais que recebe</label>
    {{> afQuickField name='receive_paper'}}
    {{> afQuickField name='receive_glass'}}
    {{> afQuickField name='receive_metal'}}
    {{> afQuickField name='receive_plastic'}}
    {{> afQuickField name='receive_furniture'}}
    {{> afQuickField name='receive_electronics'}}
    {{> afQuickField name='receive_wood'}}
    {{> afQuickField name='receive_waste'}}
    {{> afQuickField name='receive_oil'}}
    {{> afQuickField name='receive_other'}}
  </fieldset>
  <button type="submit" class="btn btn-primary">Insert</button>
  {{/autoForm}}  
</template>

<!-- Form to register ponto de entrega -->
<template name="pevForm">
  {{#autoForm collection="PontoDeEntregas" id="insertPevForm" type="insert"}}
  <fieldset>
    <!-- <legend>Add a ponto de entrega</legend> -->
    {{> afQuickField name='name'}}
    {{> afQuickField name='address' type="googleplace"}}
    {{> afQuickField name='hours'}}

    <label>Tipos de materiais que recebe</label>
    {{> afQuickField name='receive_paper'}}
    {{> afQuickField name='receive_glass'}}
    {{> afQuickField name='receive_metal'}}
    {{> afQuickField name='receive_plastic'}}
    {{> afQuickField name='receive_furniture'}}
    {{> afQuickField name='receive_electronics'}}
    {{> afQuickField name='receive_construction'}}
    {{> afQuickField name='receive_waste'}}
    {{> afQuickField name='receive_other'}}

  </fieldset>
  <button type="submit" class="btn btn-primary">Enviar</button>
  {{/autoForm}}    
</template>
