<template name="Registercarroceiro">
  {{> Nav}}

  <div class="content-container">
    <h1>Cadastre um carroceiro</h1>
    {{#if currentUser}}
      {{> addCarroceiroForm}}
    {{else}}
      <p>Sign in first.</p>
    {{/if}}
  </div>
  <!-- Create account and login with meteor here or elsewhere? https://www.meteor.com/accounts -->
</template>


<!-- Form to register carroceiro -->
<template name="addCarroceiroForm">
  {{> selectCarroceiroType}}

  <!-- Logic that selects which registration form to display -->
  {{#if showCatadorForm}}
    {{> catadorForm}}
  {{else}}
    {{#if showCooperativaForm}}
      {{> cooperativaForm}}
    {{else}}    
      {{#if showPevForm}}
        {{> pevForm }}
        {{/if}}
    {{/if}}
  {{/if}}
</template>

<!-- Selection form to pick what to register -->
<template name="selectCarroceiroType">
  <div class="carroceiroTypeSelection">
    <label>O que você quer cadastrar?</label><br>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="catador-radio" value="option1"> Catador
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="cooperativa-radio" value="option2"> Cooperativa
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="pev-radio" value="option3"> Ponto de entrega
    </label> 
  </div> 
</template>


<!-- Form to register catador -->
<template name="catadorForm">
  {{#autoForm collection="Catadores" id="insertCatadorForm" type="insert"}}
  <fieldset>
    <legend>Cadastre um catador</legend>
    {{> afQuickField name='name'}}
    {{> afQuickField name='telephone'}}
    {{> afQuickField name='whatsapp'}}
    {{> afQuickField name='address' type="googleplace"}}
    {{> afQuickField name='region'}}
    {{> afQuickField name='carrocaPimpada'}}
    {{> afQuickField name='motorizedVehicle'}}
    
    <label>Serviços prestados</label>
    {{> afQuickField name="services_recyclable"}}
    {{> afQuickField name="services_construction"}}
    {{> afQuickField name="services_freight"}}
    {{> afQuickField name="services_furniture"}}
    {{> afQuickField name="services_metals"}}
    {{> afQuickField name="services_electronics"}}
    {{> afQuickField name="services_other_materials"}}
    {{> afQuickField name="services_metals"}}

    {{> afQuickField name="observations"}}

    {{> afQuickField name="picture"}}

  </fieldset>
  <button type="submit" class="btn btn-primary">Insert</button>
  {{/autoForm}}
  <!-- The quickForm includes the fields automatically, but doesn't
  support Google Place autocomplete -->
  <!-- {{> quickForm collection="Catadores" id="insertCatadorForm" type="insert"}} -->
</template>

<!-- Form to register cooperativa -->
<template name="cooperativaForm">
  <!-- {{> quickForm collection="Cooperativas" id="insertCooperativaForm" type="insert"}} -->
  {{#autoForm collection="Cooperativas" id="insertCooperativaForm" type="insert"}}
  <fieldset>
    <legend>Add a Cooperativa</legend>
    {{> afQuickField name='name'}}
    {{> afQuickField name='address' type="googleplace"}}
    {{> afQuickField name='telephone'}}
    {{> afQuickField name='hours'}}
    {{> afQuickField name='site'}}
    {{> afQuickField name='coleta'}}

    <label>Tipos de materiais que recebe</label>
    {{> afQuickField name='receive_paper'}}
    {{> afQuickField name='receive_glass'}}
    {{> afQuickField name='receive_metal'}}
    {{> afQuickField name='receive_plastic'}}
    {{> afQuickField name='receive_furniture'}}
    {{> afQuickField name='receive_electronics'}}
    {{> afQuickField name='receive_wood'}}
    {{> afQuickField name='receive_waste'}}
    {{> afQuickField name='receive_other'}}


  </fieldset>
  <button type="submit" class="btn btn-primary">Insert</button>
  {{/autoForm}}  
</template>

<!-- Form to register ponto de entrega -->
<template name="pevForm">
  <!-- {{> quickForm collection="PontoDeEntregas" id="insertPevForm" type="insert"}} -->
  {{#autoForm collection="PontoDeEntregas" id="insertPevForm" type="insert"}}
  <fieldset>
    <legend>Add a ponto de entrega</legend>
    {{> afQuickField name='name'}}
    {{> afQuickField name='address' type="googleplace"}}
    {{> afQuickField name='hours'}}

    <label>Tipos de materiais que recebe</label>
    {{> afQuickField name='receive_paper'}}
    {{> afQuickField name='receive_glass'}}
    {{> afQuickField name='receive_metal'}}
    {{> afQuickField name='receive_plastic'}}
    {{> afQuickField name='receive_furniture'}}
    {{> afQuickField name='receive_electronics'}}
    {{> afQuickField name='receive_construction'}}
    {{> afQuickField name='receive_waste'}}
    {{> afQuickField name='receive_other'}}

  </fieldset>
  <button type="submit" class="btn btn-primary">Insert</button>
  {{/autoForm}}    
</template>
