<template name="Services">
  {{> Nav}}

  <div class="container-fluid">
    <h2>Serviços Prestados</h2>

    <ul>
        <li>Coleta de material reciclável. Retirada de materiais como papel, vidro, latas, embalagens, vidro, embalagem longa vida, entre outros, que são vendidos e compõem a renda do catador.</li>
        <li>Coleta de Resíduos de Construção Civil. Retirada de entulho, latas de tintas, madeira, entre outros para destinação correta em pontos de entrega ou depósitos especializados.</li>
        <li>Coleta de Resíduos Volumosos. Retirada de sofás, geladeira, fogão, e outros objetos de grande volume para descarte em locais especializados e\ou assistência técnicas.</li>
        <li>Coleta de ferro e metais. Retirada de cobre, alumínio, ferro, entre outros para comercialização. 
        Coleta de resíduos eletroeletrônicos. Retirada de computadores, pilhas, baterias, entre outros para comercialização e descarto correto.</li>
        <li>Coleta de Outros materiais. Retirada de outros objetos e\ou materiais não listados anteriormente, tais como roupas, peças de automóveis, etc.</li>
        <li>Frete e Carreto. Serviço de retirada e entrega de objetos, materiais. Pequenas mudanças.</li>
    </ul>
    <p>Lembre-se sempre de confirmar com o catador previamente o serviço prestado (com quantidade) e seu valor. </p>

  </div>
</template>
