<template name="undeleteCatador">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          {{#if currentUser}}
            {{> catadorListUndel}}  <!-- standard login form - need to be logged in -->
          {{else}}
            {{> atForm}}
          {{/if}}
        </div> <!-- /panel-body -->
      </div> <!-- /panel -->
    </div>
  </div> <!-- /row -->
</template>

<template name="catadorListUndel">
  <h2>Recupera&ccedil;&atilde;o de Catadores</h2>
  <!-- functionality just allowed for admin users -->
  {{#if isUserAdm}}
    <label>Ordenar por</label>
    <select id="orderSelect">
      <option value="name">Nome &uarr;</option>  <!-- name ascending -->
      <option value="deletionDate" selected>Data de Remo&ccedil;&atilde;o &darr;</option> <!-- deletion date descending -->
    </select>
    <ul class="delUndelMod">
      {{#each carroceiros}}
        {{> catadorItemUndel}}
      {{/each}}
    </ul>
  {{else}}
    {{> flashMessages}}  <!-- messages for user during some seconds -->
  {{/if}}
</template>

<template name="catadorItemUndel">
  <li class="delUndelMod">
    <button id="undelete">&cularr;</button>  <!-- undo symbol - for undeletion when clicked -->
    <span class="text"><strong>{{name}}</strong> - Removido em {{prettifyDate deleted_on}}</span>  <!-- deletion date with standard format for human reading -->
  </li> 
</template>


