html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
  position: relative
}


.nav-container {
    margin-bottom: 50px;
}

.content-container {
    margin: 2em;
    padding-top: 1em;
}


/* Map specifications */
.map-container {
    width: 100%;
    height: 90%;
}

.search-address.form-group {
    width: 100%;
}

#geocomplete {
    width: 90%;
    padding: 0;
    margin: 0;

}

#go-to-address {
    width: 6%;
    padding: 0;
    margin: 0;
}


/* Registration specifications */
#carroceiro-form-selection {
    margin-bottom: 2em;
}

/**/

.carroceiroPicture {
    
}
