/* COMMON*/

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

div.red_text {
    color: red;
    display: inline;
}

p.inline {
   display: inline;
}

.bold {
   font-weight:bold;
}

.underline {
   text-decoration: underline;
}

img.partners-width {
    width: 100px;
    padding: 5px;
}

img.partners-height {
    height: 100px;
    padding: 5px;
}

li.delUndel {
  list-style: none;
}

ul.delUndel {
  padding: 0px;
}

body {
  position: relative;
  background-image:url('/img/PadraoAzulejo.jpg');
}

.container-responsive {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.panel {
    margin-top: 7em;
    opacity: 0.85;
}

.footer-brand img {
    width: 100%;
}

/*** NAVBAR ***/

.navbar {
  background-color: #272727;
  /*background-image:url('/img/header.png');*/
  font-weight:bold;
}

.icon-bar {
    background-color: #3DB44B;
}

.navbar a {
  color: #3DB44B;
}

.navbar-brand {
    padding: 5px 5px 5px 20px;
}

.navbar-brand img {
    height: 100%;
}

/*** MAP ***/

.map-container {
    width: 100%;
    height: 100%;
}

img.image_map {
    height: 100px;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;

    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

    width: 90%;
    height: 2em;

    padding: 3px 5px;
    margin-top: 60px;
}


/* Creates the X to cross out typed text.
Solution here: http://stackoverflow.com/questions/6258521/clear-icon-inside-input-text */
.clearable {
    background: #fff url(img/x.gif) no-repeat right -10px center;
    padding: 3px 18px 3px 4px;      /*Use the same right padding (18) in jQ! */
    border-radius: 3px;
    transition: background 0.4s;
}
.clearable.x  { /* (jQ) Show icon */
    background-position: right 5px center; 
} 
.clearable.onX { /* (jQ) hover cursor style */
    cursor: pointer; 
}              
.clearable::-ms-clear { /* Remove IE default X */
    display: none; 
    width:0; 
    height:0;
} 



/*** CARROCEIRO REGISTRATION ***/

#carroceiro-form-selection {
    margin-bottom: 2em;
}

.input-clear-both {
    clear: both;
}

.input-float-left {
    float: left;
    margin: 0.2em;

}

.input-whatsapp-internet {
    vertical-align: bottom;
    padding-top: 1.5em;
    padding-left: 1em;
}

/* needed to put * in front of all required fields */
[data-required] label:after {content: '*'}

/*** CATADOR PROFILE ***/

img.avatar {
    border: 1px solid #eee;
    height: 150px;
}

.only-bottom-margin {
    margin-top: 0px;
}

.activity-mini {
    padding-right: 15px;
    float: left;
}

.profile-services img {
    display: inline-block;
}

.modal-services-info {
    margin-top: 10em;
}


.modal-header h4, button {
    display: inline-block;
}

.modal-header button {
    float: right;
}

.service-item {
    margin-bottom: 1em;
    padding-right: 15px;
    padding-left: 15px;
}

.service-comment {
    padding-right: 15px;
    padding-left: 15px;
}

/*** USER REGISTRATION ***/
.user-registration-form {
    margin-top: 5em;
}





/*** RESPONSIVENESS ***/

@media screen and (min-width: 980px) {
/*  body {
    background: red;
  }*/
}

@media screen  and (max-width: 979px) {
    .container-responsive {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .container-responsive {
        width: 100%;
    }

    .panel {
        border: none;
    }
}

@media screen and (max-height: 800px) {
    .modal-services-info {
        margin-top: 2em;
    }
}
